<section class="contributors">
    <ul class="authors nomark">
			{% if page.collaborators %}
      {% for author in {{ include.collaborators }} %}
        <li>{{ author.who }}<sup>{{ forloop.index }}</sup></li>
			{% endfor %}
			{% endif %}
    </ul>
    <ol class="affiliations nomark">
			{% if page.collaborators %}
      {% for author in {{ include.collaborators }} %}
        <li><sup>{{ forloop.index }}</sup><a href="{{ author.affiliation_url }}">{{ author.affiliation }}</a></li>
			{% endfor %}
			{% endif %}
    </ol>
</section>