<section class="contributors">
    <ul class="authors nomark">
      {% for collaborator in page.collaborators %}
        <li>{{ collaborator.who }}<sup>{{ forloop.index }}</sup></li>
      {% endfor %}
    </ul>
    <ol class="affiliations nomark">
      {% for collaborator in page.collaborators %}
        <li><sup>{{ forloop.index }}</sup><a href="{{ collaborator.affiliation_url }}">{{ collaborator.affiliation }}</a></li>
      {% endfor %}
    </ol>
</section>

<!--
<section class="contributors">
  {% if page.collaborators %}
    <ul class="authors nomark">
      {% for collaborator in page.collaborators %}
         <li>{{ collaborator.who }}<sup>{{ index }}</sup></li>
      {% endfor %}
    </ul>
    <ol class="affiliations nomark">
      {% for collaborator in page.collaborators %}
         <li><sup>{{ index }}</sup><a href="{{ collaborator.affiliation_url }}">{{ collaborator.affiliation }}</a></li>
      {% endfor %}
    </ol>
  {% endif %}
</section>

{% assign counter = 1 %}
    <li><sup>{{counter}}</sup> ... </li>
    {% assign counter = counter | plus:1 %}
-->