<figure>
  <img alt="{{ page.figure[fig_alt] }}" src="http://content-strategy-forum.github.io/csf-glossary/assets/images/{{ page.figure[fig_slug] }}.png">
  <figcaption>{{ page.figure[fig_caption] }}</figcaption>
</figure>



<!-- These variations do not work

<figure>
  <img alt="{{ include.figure_info[fig_alt] }}" src="{{ site.github.url }}/assets/images/{{ include.figure_info[fig_slug] }}.png">
  <figcaption>{{ include.figure_info[fig_caption] }}</figcaption>
</figure>

<figure>
  <img alt="{{ include.figure_info.fig_alt }}" src="http://content-strategy-forum.github.io/csf-glossary/assets/images/{{ include.figure_info.fig_slug }}.png">
  <figcaption>{{ include.figure_info.fig_caption }}</figcaption>
</figure>

-->