---
figure:
  fig_slug: fig-user-story 
  fig_alt: "The user story model."
  fig_caption: "The user story is a 3-clause statement that pinpoints user type, task, and need fulfilled."	 
---

<figure>
  <img alt="Alt text" src="http://content-strategy-forum.github.io/csf-glossary/assets/images/placeholder.png">
  <figcaption>
		{{ include.figcap }}
  </figcaption>
</figure>


<!-- These variations do not work

<figure>
  <img alt="{{ include.figure_info[fig_alt] }}" src="{{ site.github.url }}/assets/images/{{ include.figure_info[fig_slug] }}.png">
  <figcaption>{{ include.figure_info[fig_caption] }}</figcaption>
</figure>

<figure>
  <img alt="{{ include.figure_info.fig_alt }}" src="http://content-strategy-forum.github.io/csf-glossary/assets/images/{{ include.figure_info.fig_slug }}.png">
  <figcaption>{{ include.figure_info.fig_caption }}</figcaption>
</figure>

-->