<header class="site-header">
	<h1 class="masthead"><a rel="home" href="https://csf.community" title="Fly to the CSF website!">CSF</a></h1>
	<!-- <meta content="https://glossary.csf.community/assets/brand/logo.png"> -->

		<!-- {% if page.layout != "index" and page.layout != "search" %}
		<div>
			<meta content="https://glossary.csf.community/">
			<form class="search-form" role="search" action="https://glossary.csf.community/search" data-search-form>
				<meta content="https://glossary.csf.community/search/?q={q}">
				<input class="form-search-input" id="q" name="q" type="search" size="32" placeholder="Search glossary…" data-search-input>
			</form>
		</div>
		{% endif %} -->
</header>

<!-- ><nav class="primary-nav">
	<ul>
		<li><a href="">Hubba</a></li>
		<li class="active"><a href="">Bubba</a></li>
		<li><a href="">Dubba</a></li>
	</ul>
</nav> -->