<header class="site-header">
	<h1 class="identity">
		<a rel="home" href="https://csf.community" title="Fly to the CSF website!">
			<img src="{{ site.baseurl }}/assets/brand/CSF-icon-48px.png">
		</a>
	</h1>
	<meta content="{{ site.baseurl }}/assets/brand/CSF-icon-48px.png">

		<!-- {% if page.layout != "default" and page.layout != "search" %}
		<div>
			<meta content="{{ site.github.url }}">
			<form class="search-form" role="search" action="{{ site.github.url }}/search" data-search-form>
				<meta content="{{ site.github.url }}/search/?q={q}">
				<input class="form-search-input" id="q" name="q" type="search" size="32" placeholder="Search glossary…" data-search-input>
			</form>
		</div>
		{% endif %} -->
</header>

<!-- ><nav class="superior">
	<ul>
		<li><a href="">Hubba</a></li>
		<li class="active"><a href="">Bubba</a></li>
		<li><a href="">Dubba</a></li>
	</ul>
</nav> -->