<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700|Share:400,400italic,700">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/assets/brand/csf-ico32.png">
<link rel="icon" sizes="16x16" href="{{ site.baseurl }}/assets/brand/csf-ico16.png">
<meta name="description" content="{{ page.description }}">
<meta name="application-name" content="UX Content Glossary">