<header class="site-header">
	<h1 class="logo">
		<a rel="home" href="https://csf.community" title="Fly to the CSF website!">
			<img src="../brand/CSF-icon-48px.png">
		</a>
	</h1>
	<meta content="../brand/CSF-icon-48px.png">

		<!-- {% if page.layout != "default" and page.layout != "search" %}
		<div>
			<meta content="https://{% include domain.html %}">
			<form class="search-form" role="search" action="https://{% include domain.html %}/search" data-search-form>
				<meta content="https://{% include domain.html %}/search/?q={q}">
				<input class="form-search-input" id="q" name="q" type="search" size="32" placeholder="Search glossary…" data-search-input>
			</form>
		</div>
		{% endif %} -->
</header>

<!-- ><nav class="primary-nav">
	<ul>
		<li><a href="https://github.com/content-strategy-forum/csf-glossary/wiki">Documentation</a></li>
		<li class="active"><a href="">Bubba</a></li>
		<li><a href="">Dubba</a></li>
	</ul>
</nav> -->