<script type="application/ld+json">
{ 
	"@context" : "http://schema.org", 
	"@type" : "CollectionPage",
	"url" : "https://content-strategy-forum.github.io/csf-glossary",
	"creator" : {
			"@type" : "Person",
			"name" : "Destry Wion",
			"sameAs" : [
					"https://wion.com",
					"https://wion.media",
        	"https://github.com/wion",
        	"https://mastodon.social/@wion"
			]
	},
	"publisher" : {  
	 		"@type" : "Organization",
			"name" : "Content Strategy Forum",
			"sameAs" : [  
				"https://twitter.com/cs_forum",
				"https://github.com/content-strategy-forum",
				"https://discussion.csf.community/u/csf"
			],
 			"logo" : {
				"@type" : "ImageObject",
				"contentUrl" : "https://content-strategy-forum.github.io/csf-glossary/assets/images/CSF-icon-48px.png",
				"url" : "https://csf.community",
				"width" : "48",
				"height" : "48"
				}
			}
 }
</script>