<p class="repo" role="contentinfo">
	Project coordinates: 
	<a href="https://github.com/content-strategy-forum">Organization</a>,
	<a href="{% include domain.html %}/csf-glossary">repository</a>, and
	<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">license</a>.
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
</p>
<a href='https://ind.ie/ethical-design'>
	<aside class="ethics">
		<img alt='Ethical design badge.' src='https://ind.ie/ethical-design/images/ethical-design-badge-tiny.svg'>
		<p>We practice <strong>Ethical</strong> Design.</p>
	</aside>
</a>