<p class="repo" role="contentinfo">
	Project coordinates: 
	<a href="https://github.com/content-strategy-forum">Organization</a>,
	<a href="https://github.com/content-strategy-forum/csf-glossary">repository</a>,
	<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">license</a>,
	<a href="https://github.com/content-strategy-forum/csf-glossary/wiki/Status">status</a>, and 
	<a href="https://github.com/content-strategy-forum/csf-glossary/wiki">documentation</a>.
</p>

<aside class="ethics">
	<a href="https://ind.ie/ethical-design">
		<img alt="Ethical design badge." src="{{ site.baseurl }}/assets/images/ethical-design-badge-tiny.svg">
		<p>We practice <span>Ethical</span> Design.</p>
	</a>
</aside>