---
---

/* -------------------------------------
Global Resets
------------------------------------- */

* { margin: 0; padding: 0; }
a img, abbr, fieldset { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
table { border-collapse: collapse; }
img { -ms-interpolation-mode: bicubic; vertical-align: middle; }
label, input[type="checkbox"], input[type="radio"], input[type="submit"] { cursor: pointer; }
::-moz-selection { background: #042489; color: #fff; text-shadow: none; }
::selection { background: #042489; color: #fff; text-shadow: none; }
html { overflow-y: scroll; }

body {
  background: #fff url(../brand/stripe.jpg) 80% -15px repeat-x;
	font-size: 18px;
  font-family: 'Crimson Text', serif;
  line-height: 1.3;
  color: #333;
  -webkit-font-smoothing: antialiased;
}		

/* ---------------
   LAYOUT
------------------ */

.site-header {
	width: auto;
	margin: 1em 0;
	padding: 5% 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.collapse-top { margin-top: 0; }


/* ---------------
   TYPOGRAPHY
------------------ */

/*
******** Font Families
*/

h1.term-title {
  margin: 2em 0;
  font: 1.5rem 'Share', arial, sans-serif;
	text-align: center;
}

/* Pull these out and adjust for only what's needed.

h2 {
  margin: 1.5em 0 1em 0;
  font: normal 1.6em 'Share', arial, sans-serif;
}

h2:before { display: none; }

h3, .h3 {
  margin: 0 0 .5em 0;
  font: normal 1.2em 'Share', arial, sans-serif;
  color: #444;
}

h4, .h4 {
  display: inline-block;
  margin: 0 0 1em 0;
  font-size: 1.1em;
  font-weight: normal;
  color: #a7a175;
}
*/

.summary {
	font-size: 1rem;
	font-weight: bold;
	font-style: italic;
	color: #444;
	margin: 0 0 2em 0;
}

/*
.summary:after {
  content: "";
  display: block;
  width: 15%;
  height: 1px;
  background: #bbb;
}

.summary:before { margin: 0 0 1.5em 0; }
.summary:after { margin: 1.5em 0 0 0; }
*/


.white { color: #fff; }
.yellow { color: #faba13; }



/* -------------------------
   Blockquoates & Quoates
----------------------------- */

q {font-style: italic;}

blockquote {
  margin: 1.2em auto;
  width: 86%;
}

blockquote p {
  font-size: 110%;
  font-style: italic;
}

blockquote p::before { content: open-quote; }
blockquote p::after { content: close-quote; }

blockquote.twitter-tweet {
 margin: 1.5em 0;
}

/* -------------------------
   Code & Abbreviations
----------------------------- */

pre {
    font-size: 1.2em;
    color: #000;
    margin-left: 10px;
    border-left: 2px solid #999;
    padding-left: 5px;
}

code { 
   font-size: 1em;
   color: green;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #ccc;
}

abbr:hover { border-bottom: 1px solid #000; }

kbd {
    font-size: 1em;
    color: #fff;
    border-top: 1px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #333;
    border-left: 1px solid #333;
    padding-right: 3px;
    padding-left: 2px;
    background: #555;
}


/* ------------------
   HARD RULES
--------------------- */

hr {
  width:90%;
  margin: 1.5em auto;
  height: 1px;
  border: 0;
  background: black;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
}

hr.clear {
  background: none;
  margin: 1em auto;
}


/* ------------------
   LINKS
--------------------- */

a {
  color: #147a97;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

article a { border-bottom: 1px dotted #61b0c7; }

article a:visited { 
  color: #462b72; 
  border-bottom-color: #462b72; 
}

article a:hover,
footer a:hover { color: #c11f46; }

article a:hover { border-bottom: 1px solid #c11f46; }


a.white { color: #fff !important; }
a.yellow { color: #faba13 !important; }


/* ----------------------------------
HEADER and NAVIGATION
---------------------------------- */
/*
******** Logo / Identity
*/

.identity img {
  width: 100%;
  height: auto;
  max-width: 341px;
}

/*
******** Navigation
*/

nav ul {
  list-style: none;
}

nav li { display: inline; width: auto; }

nav a {
  display: inline-block;
  padding: 0 3%;
  border: none;
  text-decoration: none;
}

/*
******* Global Nav
*/
.global {}

.global a {
  border-right: 1px solid #ccc;
  line-height: 30px;
  color: #666;
  text-align: center;
}

.global.nlast a { border: none; }

.global a:hover { 
	background: #444;
	color: #555;
}

/*
******* Breadcrump Nav
*/
.breadcrumb {}

.navigation {
	display: inline; width: auto;
}

/* ----------------------------------
LISTS
---------------------------------- */

.wrap  {
  list-style-type: none; 
  margin: 0;
}

.wrap li { 
   display: inline;
   line-height: 1.5;
   margin-right: 0.15em;
}

/*
******** Index authors
*/


/*
******** Definition authors
*/

.authors {}

/*
******** Definition affiliations
*/

.affiliations {}


/*---------------------------
FIGURES & FIGCAPTIONS
----------------------------*/

img { max-width: 100%; }

figure {
  text-align: center;
  margin: 0 0 1em 0;
  width: auto;
}

figcaption {
  font: 75% sans-serif;
  color: #888;
  line-height: 1.3;
  margin-top: .5em;
  padding: .7em 0 .4em 0;
}

/* ----------------- 
TABLES 
-------------------- */

table {
	font-size: .9em;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	}

caption {
	text-align: left;
	margin-bottom: .5em;
	}

th,
td {
  vertical-align: top;
  padding: .5em 1em .5em 1em;
}

thead th,
th.vertical { font-weight:bold; }

thead th { border-bottom: 4px double #999; }
th.vertical { border-right: 4px double #999; }

tfoot { background: #ebebeb; }

tfoot td { margin-top:4px; line-height:1.5; }

/*	.striped
	Applies zebra striping to any table.
	<table class="striped">
	*/

.striped tr:nth-of-type(odd) td {
	background-color: #eee;
	}

/*-----------------------------
ASIDES
------------------------------- */


/*-------------------
       Forms
---------------------*/

input.nl-text,
button {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  xbox-shadow: none;
  font-size: .72em;
}

input.nl-text {
  width: 55%;
  height: 36px;
  margin-right: .5em;
  padding: 0 .75em;
  border-color: #ccc;
}

button {
  padding: 0 .8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  height: 37px;
  line-height: 37px;
  cursor: pointer;
  border-color: #f7b917;
  background: #f7b917;
  color: #000;
}

/* ---------------
Index
------------------ */


/* ----------------
FOOTER
------------------- */

footer {
  padding: 5em 0 ;
  margin: 5em 0 0 0;
  background: #e7e7dd url(http://csf.community/assets/img/stripe.jpg) 75% -10px repeat-x;
  font-size: .8em;
  color: #555;
}

/*------------------------ 
MEDIA QUERIES
--------------------------*/

/**************  > 480px  **************/
@media only screen and (min-width: 480px) {


}/* <-keep, closes media query */

/**************  > 700px  **************/
@media only screen and (min-width: 700px) {


}/* <-keep, closes media query */

/**************  > 960px  **************/
@media only screen and (min-width: 960px) {

		
}/* <-keep */

/* ----------------------------------
Tool Kit
---------------------------------- */

.hide-completely { display: none !important; visibility: hidden; }
.hide-visually { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.hide-text { text-indent: 100%; white-space: nowrap; overflow: hidden; }
