---
---

/* -------------------------------------
Global Resets
------------------------------------- */

* { margin: 0; padding: 0; }
a img, abbr, fieldset { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
table { border-collapse: collapse; }
img { -ms-interpolation-mode: bicubic; vertical-align: middle; }
label, input[type="checkbox"], input[type="radio"], input[type="submit"] { cursor: pointer; }
::-moz-selection { background: #042489; color: #fff; text-shadow: none; }
::selection { background: #042489; color: #fff; text-shadow: none; }
html { overflow-y: scroll; }

body {
  background: #fff url(https://{% include domain.html %}/assets/brand/stripe.jpg) 78% -15px repeat-x;
	font-size: 100%;
  font-family: 'Crimson Text', serif;
  line-height: 1.4;
  color: #444;
  -webkit-font-smoothing: antialiased;
}		

/* ---------------
   HEADER
------------------ */

.site-header {
	width: auto;
	padding: 5px 5%;
	margin-top: 15px;
	margin-bottom: 2em;
}

.identity {
	width: 48px; height: 48px;
	background-color: #fff;
  transition: transform 2s;
}

.identity:hover { 
	background-color: #fff;
	transform: rotate(360deg);
}



nav ul {
  list-style: none;
}

nav li { display: inline; width: auto; }

nav a {
  display: inline-block;
  border: none;
  text-decoration: none;
}

/* nav.global */

.global {}

.global a {
  border-right: 1px solid #ccc;
  line-height: 30px;
  color: #666;
  text-align: center;
}

.global.nlast a { border: none; }

.global a:hover { 
	background: #444;
	color: #555;
}

/* ---------------
   MAIN CONTENT
------------------ */

.container {
	width: 78%;
	margin-left: auto;
	margin-right: auto;
}

/* nav.breadcrumb */

.breadcrumb li:after {
	font-size: 1.1rem;
	content: "\203A";
}

.breadcrumb li:last-child:after {
	content: "";
}

.breadcrumb a {
	line-height: 1.5;
	padding-left: 8px;
	padding-right: 8px;
}

.breadcrumb a:first-child {
	padding-left: 2px;
}

/* Summary and Contributors */
	
.summary,
.contributors,
.authors { margin-bottom: 1.5em; }

.contributors { margin-bottom: 2em; }

.authors li:after { content: ","; }
.authors li:last-child:after { content: ""; }


/* Article links */

article a,
article sup a { 
	transition: all .8s ease-in-out;
  color: #444;
  text-decoration: none;
}

article a { border-bottom: 1px dotted #444; }

article sup a {
	padding-left: 4px; 
	border-bottom: 0;
}

article sup a:first-child { padding-left: 1px; }

article a:hover,
article sup a:hover { 
	color: #000;
	background-color: #f9f2b0;
}

article a:hover { border-bottom-color: #fff; }

/* ---------------
   FOOTER
------------------ */

footer {
  padding: 5em 0 ;
  margin: 5em 0 0 0;
  background: #e7e7dd url(https://{% include domain.html %}/assets/brand/stripe.jpg) 75% -10px repeat-x;
}


/* ---------------
   TYPOGRAPHY
------------------ */

/*
******** Font Typeface
*/

h1.term-title { font-family: 'Share', arial, sans-serif; }

.breadcrumb,
figcaption { font-family: sans-serif; }

/*
******** Font Size and Height
*/

article { font-size: 1.4rem; }

h1.term-title { font-size: 3rem }

.summary { font-size: 1.7rem; }

.contributors,
figcaption,
.references,
.legal { font-size: 1rem; }

.pitch { font-size: 1.1rem; }

/*
******** Font Style, Weight & Color
*/
.summary {
	font-weight: bold;
	font-style: italic;
	color: #444;
}

figcaption { color: #000; }

footer { color: #555; }

/*
******** Font Positioning & Spacing
*/

h1.term-title {
  margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

figcaption { 
	padding-top: 1.5em; 
	padding-bottom: 1em;
}


/* ----------------------------------
   LISTS
---------------------------------- */
	
.wrap li {
	display: inline; width: auto;
}

.nomark { list-style: none; }

/* Index authors */


/*
******** Authors
*/

.authors {}

/*
******** Author Affiliations
*/

.affiliations {}

/* ---------------------
   FIGURES & Images
------------------------ */

img { max-width: 100%; }

figure {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
  width: auto;
}


/* -------------------------
   Blockquotes & Quotes
----------------------------- */

q {font-style: italic;}

blockquote {
  margin: 1.2em auto;
  width: 86%;
}

blockquote p {
  font-size: 110%;
  font-style: italic;
}

blockquote p::before { content: open-quote; }
blockquote p::after { content: close-quote; }

blockquote.twitter-tweet {
 margin: 1.5em 0;
}

/* -------------------------
   Code & Abbreviations
----------------------------- */

pre {
    font-size: 1.2em;
    color: #000;
    margin-left: 10px;
    border-left: 2px solid #999;
    padding-left: 5px;
}

code { 
   font-size: 1em;
   color: green;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #ccc;
}

abbr:hover { border-bottom: 1px solid #000; }


/* ------------------
   HARD RULES
--------------------- */

hr {
  width:90%;
  margin: 1.5em auto;
  height: 1px;
  border: 0;
  background: black;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
}

hr.footnotes {
  width:45%;
	height: 2px;
  margin-top: 4em;
	margin-bottom: 2em;
	margin-left: 0;
	margin-right: auto;
	background: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,0));
}

hr.clear {
  background: none;
  margin: 1em auto;
}

/* ----------------- 
TABLES 
-------------------- */

table {
	font-size: .9em;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	}

caption {
	text-align: left;
	margin-bottom: .5em;
	}

th,
td {
  vertical-align: top;
  padding: .5em 1em .5em 1em;
}

thead th,
th.vertical { font-weight:bold; }

thead th { border-bottom: 4px double #999; }
th.vertical { border-right: 4px double #999; }

tfoot { background: #ebebeb; }

tfoot td { margin-top:4px; line-height:1.5; }

/*	.striped
	Applies zebra striping to any table.
	<table class="striped">
	*/

.striped tr:nth-of-type(odd) td {
	background-color: #eee;
}


/*-------------------
       Forms
---------------------*/

input.nl-text,
button {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  xbox-shadow: none;
  font-size: .72em;
}

input.nl-text {
  width: 55%;
  height: 36px;
  margin-right: .5em;
  padding: 0 .75em;
  border-color: #ccc;
}

button {
  padding: 0 .8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  height: 37px;
  line-height: 37px;
  cursor: pointer;
  border-color: #f7b917;
  background: #f7b917;
  color: #000;
}


/* ------------------------ 
   MEDIA QUERIES
--------------------------*/

/**************  > 480px  **************/
@media only screen and (min-width: 480px) {


}/* <-keep, closes media query */

/**************  > 700px  **************/
@media only screen and (min-width: 700px) {


}/* <-keep, closes media query */

/**************  > 960px  **************/
@media only screen and (min-width: 960px) {

		
}/* <-keep */

/* ----------------------------------
Tool Kit
---------------------------------- */

.hide-completely { display: none !important; visibility: hidden; }
.hide-visually { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.hide-text { text-indent: 100%; white-space: nowrap; overflow: hidden; }
