<!DOCTYPE html>
<html lang="en-GB-oxendict">
	<head>
    <meta charset="utf-8">
    <title>UX Content Glossary</title>
    {% include head-meta.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
		{% include jsonld-index.html %}
	</head>

	<body>
		{% include masthead.html %}
		<main aria-label="Main content">
			<div class="container">
    		<article>

        	{{ content }}

    		</article>
		</div><!-- e/o container -->
	</main>
	<footer>
		<div class="holdfast">
			{% include legal.html %}
		</div>
	</footer>

	</body>
</html>