<!DOCTYPE html>
<html lang="en-GB-oxendict">
	<head>
    <meta charset="utf-8">
    <title>UX Content Glossary</title>
    {% include head-meta.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
	</head>

	<body>
		{% include header.html %}
		<main aria-label="Main content">
			<div class="container">


      {{ content }}


		</div><!-- e/o container -->
	</main>
	<footer>
		<div class="holdfast">
			<p class="pitch">See a problem? <a href="https://github.com/content-strategy-forum/csf-glossary/wiki">Lend a hand</a>.</p>
			{% include legal.html %}
		</div>
	</footer>

	</body>
</html>