<!DOCTYPE html>
<html lang="en-GB-oxendict">
	<head>
    <meta charset="utf-8">
    <title>UX Content Glossary</title>
    {% include head-meta.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
	</head>

	<body>
		<div class="wrapper">
			
			{% include header.html %}
			
			<main aria-label="Main content">
				<div class="container">
    			<nav aria-label="Breadcrumb navigation">
        		<ol class="breadcrumbs">
            	<li><a><span>Index</span></a></li>
            	<li><a><span>{{ page.category }}</span></a></li>
            	<li class="current"><b><span>{{ page.title }}</span></b></li>
        		</ol>
    			</nav>


        		{{ content }}


				</div><!-- e/o container -->
			</main>
		</div><!-- e/o wrapper -->
		<footer>
			<p class="pitch">This glossary is an open and rolling project developed by individuals from around the world to benefit students, peers, educators, and industry. Besides being a practical reference, the glossary project is an opportunity for writers and editors to use new tools, sharpen metadata skills, apply information architecture, and create a semantic schema. <a href="https://github.com/content-strategy-forum/csf-glossary/blob/master/README.md">More...</a></p>
			{% include legal.html %}
		</footer>

	</body>
</html>