<!DOCTYPE html>
<html lang="en-GB-oxendict">
	<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | UX Content Glossary</title>
    {% include head-meta.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
		{% 
			include jsonld-articles.html 
			headline=page.title
			author=page.writers
			editor=page.reviewers
		  link=page.permalink
		%}
	</head>

	<body vocab="http://schema.org/">
		{% include header.html %}		
		<main aria-label="Main content">
				<div class="container">
					
    			<nav class="breadcrumb">
        		<ol>
            	<li><a href="{{ site.github.url }}/index.html">Index</a></li>
            	<!--<li><a>{{ page.categories }}</a></li> -->
            	<li><a class="active">{{ page.title }}</a></li>
        		</ol>
    			</nav>

    			<article id="definition">
						
						{{ page.path }}

        		{{ content }}

    			</article>

				</div><!-- e/o container -->
		</main>
		<footer>
			<div class="holdfast">
				<ul class="draft">
					<li><a href="{% include repo-path.html %}/blob/master/{{ page.title | slugify }}.md">Source file</a></li> 
					<li><a href="{% include repo-path.html %}/issues/{{ page.issue_id }}">Term issue</a></li>
				</ul>
				{% include legal.html %}
			</div>
		</footer>

	</body>
</html>