<!DOCTYPE html>
<html lang="en-GB-oxendict">
	<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | UX Content Glossary | CSF Community</title>
    {% include head-meta.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
	</head>

	<body>
		{% include header.html %}		
		<main aria-label="Main content">
				<div class="container">
					
    			<nav class="breadcrumb">
        		<ol>
            	<li><a href="https://{% include domain.html %}/index.md">Index</a></li>
            	<!--<li><a>{{page.categories}}</a></li> -->
            	<li class="current"><b>{{page.title}}</b></li>
        		</ol>
    			</nav>

    			<article>

        		{{ content }}

        		<!-- {% if page.tags %}
        		<footer class="article-footer">
            	<span class="ui-icon ui-icon-tag">Tags:</span>
            	{% for tag in page.tags %}
            	<a rel="category tag" href="{{ tag | slugify }}" title="View definitions in this category">{{ tag }}</a>
            	{% endfor %}
        		</footer>
        		{% endif %} -->

    			</article>

				</div><!-- e/o container -->
		</main>
		<footer>
			<div class="holdfast">
				<p class="pitch">See something wrong? <a href="https://github.com/content-strategy-forum/csf-glossary/wiki">Lend a hand</a>.</p>
			
				<p class="legal" role="contentinfo">
				Coordinated by <a rel="external" href="https://csf.community">CSF</a>:
					<a href="https://github.com/content-strategy-forum">Organization</a>,
					<a href="https://{% include domain.html %}">repository</a>,
					<a href="https://github.com/content-strategy-forum/csf-glossary/blob/master/{{page.file-name}}.md">draft</a>,
					<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">license</a>.
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
				</p>
			</div>
		</footer>

	</body>
</html>