<!DOCTYPE html>
<html lang="en-GB-oxendict">
	<head>
    <meta charset="utf-8">
    <title>About | UX Content Glossary</title>
    {% include head-meta.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
		<!-- {% include jsonld-articles.html %} -->
	</head>
	<body>
		
		<div id="global-grid" class="pages-masthead">
			{% include masthead.html %}	
			<main aria-label="Main content">
				<article id="definition">

        		{{ content }}

    			</article>
				</main>
				<footer>
					{% include legal.html %}
				</footer>
		</div><!-- e/of #definition-grid -->
		
	</body>
</html>